.side-menu {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 9999;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
  overflow-y: scroll;
}

.side-menu.open {
  transform: translateX(0%);
}

@media (min-width: 48em) {
  .side-menu {
    inset: 0 0 0 auto;
  }
}
