.header-items {
  margin-left: auto;
  gap: 1.5rem;
}

.primary-nav {
  display: none;
}

.side-menu-nav-container,
.side-menu-nav {
  flex-direction: column;
  gap: 3rem;
}

.side-menu-nav-container {
  padding: 2rem;
  align-items: flex-end;
}

@media (min-width: 48em) {
  .header-items {
    gap: 3rem;
  }

  .primary-nav {
    display: flex;
    gap: 3rem;
  }

  .open-nav-btn {
    display: none;
  }
}
