:root {
  --clr-primary-100: 0 0% 100%;
  --clr-secondary-300: 17 100% 78%;
  --clr-secondary-800: 275 17% 42%;
  --clr-accent-400: 351 100% 70%;

  --fs-200: 0.5rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;
}

/* fonts */

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  src: local(""),
    url("./assets/fonts/manrope-v13-latin-200.woff2") format("woff2"),
    url("./assets/fonts/manrope-v13-latin-200.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/manrope-v13-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/manrope-v13-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("./assets/fonts/manrope-v13-latin-800.woff2") format("woff2"),
    url("./assets/fonts/manrope-v13-latin-800.woff") format("woff");
}

/*  Edited version of CSS rest by Andy Bell */
/*  https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button,
input[type="”submit”"],
input[type="”reset”"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
